@charset "UTF-8";
/* blurred images fix */
img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* noscript banner */
.noscript {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffb1e;
  font-size: 14pt;
  text-align: center;
  z-index: 9999;
  padding: 20px 30px;
}

.product-subcategories .woocommerce.columns-6 ul.products li.product {
  width: 14.5% !important;
}

@media only screen and (max-width: 768px) {
  .woocommerce .products_wrapper ul.products li.product, .woocommerce-page .products_wrapper ul.products li.product {
    width: 48%;
  }
  .woocommerce .products_wrapper ul.products li.product:nth-of-type(even), .woocommerce-page .products_wrapper ul.products li.product:nth-of-type(even) {
    float: right;
  }
}

@media only screen and (min-width: 1244px) {
  .woocommerce .products_wrapper ul.products li.product, .woocommerce-page .products_wrapper ul.products li.product {
    width: 23%;
  }
  .woocommerce .products_wrapper ul.products li.product:nth-child(3n+1), .woocommerce-page .products_wrapper ul.products li.product:nth-child(3n+1) {
    clear: none;
  }
}

.woocommerce ul.products li.product .desc, .woocommerce-page ul.products li.product .desc {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130px;
}

@media only screen and (max-width: 768px) {
  .woocommerce ul.products li.product .desc, .woocommerce-page ul.products li.product .desc {
    height: auto;
  }
}

.woocommerce ul.products li.product .desc h4, .woocommerce-page ul.products li.product .desc h4 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.woocommerce ul.products li.product span.price, .woocommerce-page ul.products li.product span.price {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-bottom: 10px;
}

@media only screen and (min-width: 993px) and (max-width: 1244px) {
  .woocommerce ul.products li.product li.cat-item, .woocommerce-page ul.products li.product li.cat-item {
    margin: 0;
    width: 15%;
  }
}

.woocommerce .woocommerce-customer-details address, .woocommerce-page .woocommerce-customer-details address {
  width: auto;
  padding: 15px 15px 15px 80px;
}

.woocommerce-MyAccount-content address, .woocommerce-page-MyAccount-content address {
  padding: auto;
}

/* WooCO Totalpreis ausblenden */
.wooco_total.wooco-total.wooco-text {
  display: none !important;
}

.pager > .pages {
  margin-top: 0;
  margin-bottom: 30px;
}

div.vc_column-inner.vc_custom_1614696527171 {
  margin-top: 0 !important;
}

.ezusy-section .ezusy-img {
  width: 60px;
  height: 60px;
}

.ezusy-variations {
  border-radius: 0;
}

.ezusy-active, .ezusy-variations:hover {
  border: 1px solid #1babe5 !important;
}

/* Verstecke durchstrichen Preise */
.price del > span.woocommerce-Price-amount {
  display: none;
}

.price ins {
  text-decoration: none;
}

.search_single .query_box_direct_value, .instance_search_input {
  padding: 7px 10px 7px 10px;
}

.search_single .query_box_direct_value:focus, .instance_search_input:focus {
  outline: none;
  border: 1px solid black;
}

.wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li a.remove::before {
  display: none;
}

.button-custom a.remove {
  padding: 0 !important;
}

table.add_cart_only_icon tr .wpt_action a.button:before {
  /*content: "î€";*/
  /* content: "\e01d";     */
  z-index: 99999;
  margin: 11px;
  font-family: WooCommerce;
  font-size: initial;
  padding: 0 9px;
}

div.wpt_product_table_wrapper table.wpt_product_table tbody tr.wpt_row > td, .custom_table thead .wpt_table_header_row th {
  text-align: left;
}

.select2-container--default .select2-selection--single, .select2-container--focus, .select2-selection--multiple {
  border-radius: 0 !important;
  height: 32px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 1px;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  body .select2-container, body .ui-widget.ui-datepicker {
    z-index: 9 !important;
  }
  .select2-container, body .ui-widget.ui-datepicker {
    z-index: -1 !important;
  }
}

input[type="search"].aws-search-field {
  background-color: #0cace7 !important;
  border: none;
  border-bottom: 2px solid #f7f5f0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #555555;
  font-size: 16px;
}

input[type="search"].aws-search-field::-webkit-input-placeholder {
  color: #7a7a7a;
}

input[type="search"].aws-search-field:-ms-input-placeholder {
  color: #7a7a7a;
}

input[type="search"].aws-search-field::-ms-input-placeholder {
  color: #7a7a7a;
}

input[type="search"].aws-search-field::placeholder {
  color: #7a7a7a;
}

.aws-search-result {
  border-top: none;
  border-bottom: 10px solid #0cace7;
  border-left: 15px solid #0cace7;
  border-right: 15px solid #0cace7;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  background-color: #f7f5f0;
}

.search_single .query_box_direct_value, .instance_search_input {
  border-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
  .column_sidebar_widget .widget_product_categories {
    padding: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .column_sidebar_widget .widget_product_categories {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .column_sidebar_widget .widget_product_categories ul.product-categories {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .column_sidebar_widget .widget_product_categories ul.product-categories {
    margin-top: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .column_sidebar_widget .widget_product_categories ul.product-categories li.cat-item {
    margin-right: .4rem;
    margin-bottom: .9rem;
    width: 31%;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .column_sidebar_widget .widget_product_categories ul.product-categories li.cat-item {
    margin: 0;
    width: 15%;
  }
}

#th_filters {
  position: absolute;
  top: 0;
}

.toggle_filters_button {
  display: none;
}

.widget:after, .orderby {
  width: auto;
}

.column_sidebar_widget .widget_product_categories {
  margin-bottom: 80px;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: none;
}

select.orderby {
  border-width: 2px;
  border-color: #555555;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .bapf_body ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bapf_body ul li {
    width: 33%;
  }
  .toggle_filters_button {
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 22px;
    padding-bottom: 20px;
    /* margin-left: 12px; */
  }
  .toggle_filters_button:hover {
    text-decoration: underline;
  }
  .toggle_filters_icon {
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    margin-left: 5px;
  }
  .toggle_filters_icon.rotate {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  #th_filters {
    display: none;
    position: relative;
    margin-bottom: 2rem;
  }
  #th_filters > .vc_column-inner > .wpb_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #th_filters > .vc_column-inner > .wpb_wrapper select {
    margin-top: 1rem;
    width: 100%;
  }
  #th_filters > .vc_column-inner > .wpb_wrapper .woocommerce-ordering {
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99;
  }
  #th_filters > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .wpb_wrapper > div {
    margin-bottom: 0;
  }
  .vc_row.wpb_row.vc_inner.vc_row-fluid {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .bapf_body ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /* align-content: stretch; */
  }
  .bapf_body ul li {
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
    width: max-content;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  form.woocommerce-ordering select {
    float: right;
  }
  .toggle_filters_button {
    display: inline-block;
    font-size: 12pt;
    padding-bottom: 20px;
  }
  .toggle_filters_button:hover {
    text-decoration: underline;
  }
  .toggle_filters_icon {
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    margin-left: 5px;
  }
  .toggle_filters_icon.rotate {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  #th_filters {
    display: none;
    position: relative;
    margin-bottom: 2rem;
  }
  #th_filters > .vc_column-inner > .wpb_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #th_filters > .vc_column-inner > .wpb_wrapper select {
    margin-top: 1rem;
    width: 100%;
  }
  #th_filters > .vc_column-inner > .wpb_wrapper .woocommerce-ordering {
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99;
  }
  #th_filters > .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

#Footer {
  background-color: #252525;
}

.contact {
  width: 48%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact input, .contact textarea {
  background-color: #555555;
  border: 2px solid #555555;
  color: #cccccc;
}

.contact input:focus, .contact textarea:focus {
  background-color: #555555 !important;
  border: 2px solid #1babe5;
  color: #cccccc;
}

.contact input[type="submit"] {
  width: 100%;
}

.contact.left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contact.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 992px) {
  #Top_bar.is-sticky {
    z-index: 9999;
  }
  button[type='submit']:not(#qib_id):not(#qib_id) {
    margin-left: 0.3em !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .section_wrapper .column {
    margin: 0;
  }
  .vc_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  #Side_slide, #Side_slide .search-wrapper input.field, #Side_slide a:not(.action_button), #Side_slide #menu ul li.submenu .menu-toggle {
    z-index: 99999999999;
  }
  #body_overlay {
    z-index: 999999998;
  }
  button[type='submit']:not(#qib_id):not(#qib_id) {
    margin-left: 0 !important;
    position: absolute;
    right: 0;
    /* width: 100%; */
  }
  .vc_section {
    padding-left: 0;
    padding-right: 0;
  }
  .vc_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .vc_row.wpb_row.vc_inner.vc_row-fluid {
    margin: 0;
  }
  .wpb_wrapper > div {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 959px) {
  .woocommerce .product div.entry-summary h1.product_title {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 375px) {
  button[type='submit']:not(#qib_id):not(#qib_id) {
    position: relative !important;
    width: 100%;
    right: inherit;
  }
  .cat-item a {
    font-size: 11pt !important;
  }
  .section_wrapper:has(.widget_product_categories) {
    padding: 0 !important;
  }
}
