input[type="search"].aws-search-field {
    background-color: $color_main_blue !important;
    border: none;
    border-bottom: 2px solid rgb(247, 245, 240);
    box-shadow: none;
    color:$color_secondary_gray;
    font-size: 16px;

    &::placeholder {
        color: rgb(122, 122, 122);
    }
}

.aws-search-result {
    border-top: none;
    border-bottom: 10px solid $color_main_blue;
    border-left: 15px solid $color_main_blue;
    border-right: 15px solid $color_main_blue;
    box-sizing: content-box;
    transform: translateX(-15px);
    background-color: rgb(247, 245, 240);
}

.search_single .query_box_direct_value, .instance_search_input {
    border-radius: 0!important;
}